#canchaFut {
  background-color: green;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

#bordeCancha {
  width: 585px;
  height: 280px;
  border: 2px solid white;
  position: absolute;
  left: 5px;
  top: 10px;
}

.porterias {
  width: 90px;
  height: 200px;
  border: 2px solid #FFFFFF;
  position: absolute;
}

#porteriaIzq {
  top: 50px;
  left: 5px;
}

#porteriaDer{
  top: 50px;
  left: 500px;
}

#circulo {
   width: 175px;
   height: 175px;
   position: absolute;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   border: 2px solid #FFFFFF;
   margin-left: 215px;
   margin-top: 60px;
}
